<div class="container">
    <nav>
        <div class="nav-wrapper blue-grey darken-4">
            <a href="#" class="brand-logo logo"><img class='logo' src="/images/logo/logo.svg"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <div class="input-field col s12 m6">
                        <select class="icons">
                            <option value="" disabled selected>Keele valik</option>
                            <option value="EST" data-icon="images/flags/estonia.png" class="left">Eesti</option>
                            <option value="ENG" data-icon="images/flags/united-kingdom.png" class="left">Inglise
                            </option>
                        </select>
                        <!-- <label>Choose a language</label>-->
                    </div>
                </li>
                <li><a target="_blank" onclick="toggleLogin()">Logi sisse</a></li>
                <li><a target="_blank" onclick="toggleSignUp()">Registreeru</a></li>
                <li><a target="_blank" onclick="moreThings()">Veel</a></li>
            </ul>
        </div>
    </nav>
    <!-- log in-->
    <form class="login-form blue-grey darken-2 hiddendiv">
        <i onclick="toggleLogin()" class="material-icons red btn-close">close</i>
        <input placeholder="Username" type="text" required="">
        <input placeholder="Password" type="password" required="">
        <button class="btn waves-effect waves-light btn-login">Logi sisse</button>
    </form>
    <!-- signup-->
    <form method="post" action='/register' class="signup-form blue-grey darken-2 hiddendiv">
        <i onclick="toggleSignUp()" class="material-icons red btn-close">close</i>
        <input placeholder="Email" type="email" required="" name="email">
        <input placeholder="Username" type="text" required="" name="username">
        <input placeholder="Name" type="text" required="" name="name">
        <input placeholder="Password" type="password" required="" name="password">
        <input placeholder="Confirm password" type="password" required="" name="password2">
        <button class="btn waves-effect waves-light btn-signup">Registreeru </button>
    </form>
    <div class="slider">
        <ul class="slides">
            {{#each breadPictures}}
                <li>
                    <img src="/images/food/{{this.picture}}" alt="">
                    <div class="caption {{this.position}}">
                        <h3>{{this.tagline}}</h3>
                        <h5 class="light grey-text text-lighten-3">{{this.slogan}}</h5>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <img src="/images/logo/logo.svg" style="margin: 0 0 0 50%;transform: translateX(-50%);">
    <button class="btn waves-effect waves-light btn-order" onclick="toggleOrderingMenu()">Telli siit!</button>
    <div class="ordering ">
        <div class="row">
            <div class="col s12">
                <ul class="tabs order-navigation">
                    <li class="tab choose_base_tab    col s3"><a class="active choose_base_a" href="#choose_base"><span>Vali põhi</span><i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_meat_tab    col s3 disabled"><a class="choose_meat_a" href="#choose_meat">Vali liha<i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_cheese_tab  col s3 disabled"><a class="choose_cheese_a" href="#choose_cheese">Vali juust<i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_fresh_tab   col s3 disabled"><a class="choose_fresh_a" href="#choose_fresh">Vali värske täidis<i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_sauce_tab   col s3 disabled"><a class="choose_sauce_a" href="#choose_sauce">Vali kaste<i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_place_tab   col s3 disabled"><a class="choose_place_a" href="#choose_place">Vali koht, kus süüa<i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_payment_method_tab col s3 disabled"><a class="choose_payment_method_a" href="#choose_payment_method">Vali makseviis</a></li>
                    <li class="tab paymentConfirm_tab col s3 disabled"><a class="paymentConfirm_a" href="#paymentConfirm">CTA</a></li>
                </ul>
            </div>
        </div>
        {{#each orderingInformation}}
            <div id="{{this.id}}" class="card large">
                <div class="card-image">
                    <img src="/images/ordering-images/{{this.image}}">
                    <span class="card-title">{{this.step}}</span>
                </div>
                <div class="card-content" style="overflow: visible">
                    <div class="input-field col s12" >
                        <select id="{{this.id}}" onchange="onOrderChange({{this.id}})">
                            {{#each this.data}}
                                <option value="{{this.price}}" {{this.style}}>{{this.property}}</option>
                            {{/each}}
                        </select>
                        <label>{{this.step}}</label>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#{{this.nextId}}">  <button class="btn btn-{{this.id}}" onclick="nextSectionOfOrder('{{this.nextId}}','{{this.id}}')"><span>Next</span><i
                            class="material-icons">navigate_next</i></button></a>
                </div>
            </div>
        {{/each}}
        <div id="paymentConfirm">
            <form method="post" action="/post/order">
                <label for="base-in">Põhi</label>
                <input id="base-in" class="collection-item base-info" name="base" readonly>
                <label for="meat-in">Liha</label>
                <input id="meat-in" class="collection-item meat-info" name="meat" readonly>
                <label for="cheese-in">Juust</label>
                <input id="cheese-in" class="collection-item cheese-info" name="cheese" readonly>
                <label for="fresh-in">Värske kraam</label>
                <input id="fresh-in" class="collection-item fresh-info" name="fresh" readonly>
                <label for="sauce-in">Kaste</label>
                <input id="sauce-in" class="collection-item sauce-info" name="sauce" readonly>
                <label for="place-in">Asukoht</label>
                <input id="place-in" class="collection-item place-info" name="place" readonly>
                <label for="payment-in">Maksmisviis</label>
                <input id="payment-in" class="collection-item payment-info" name="payment-info" readonly>
                <button class="btn" type="submit">Kinnita</button>
            </form>

        </div>

    </div>

    <footer class="page-footer blue-grey darken-4">
        <div class="container">
            <div class="row footer-margin-adjustment">
                <div class="col l6 s12">
                    <h5 class="text-contacts">Kontakt</h5>
                    <ul class="text-contacts">
                        {{#each contactInformation}}
                            <li>
                                <i class="material-icons">{{this.icon}}</i><span>{{this.content}}</span>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col l6 offset-4 s12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p class="text-copyright">© 2018 Oskar Pihlak</p>
                <div class="social-media-icons ">
                    {{#each socialMediaIcons}}
                        <i class="{{this}} icon-size"></i>
                    {{/each}}
                </div>
            </div>
        </div>
    </footer>
</div>

<script>
    // Init Slider
    $('.slider').slider();

    //init select
    $(document).ready(function () {
        $('select').material_select();
        $('ul.tabs').tabs();
        $(".btn-choose_base").click(function () {
            $('ul.tabs').tabs('select_tab', 'choose_meat');
            document.querySelector('#base-in').value = document.querySelector(`#choose_base > div.card-content > div > div > input`).value;
        });
        $(".btn-choose_meat").click(function () {
            $('ul.tabs').tabs('select_tab', 'choose_cheese');
            document.querySelector('#meat-in').value = document.querySelector(`#choose_meat > div.card-content > div > div > input`).value;
        });
        $(".btn-choose_cheese").click(function () {
            $('ul.tabs').tabs('select_tab', 'choose_fresh');
            document.querySelector('#cheese-in').value = document.querySelector(`#choose_cheese > div.card-content > div > div > input`).value;
        });
        $(".btn-choose_fresh").click(function () {
            $('ul.tabs').tabs('select_tab', 'choose_sauce');
            document.querySelector('#fresh-in').value = document.querySelector(`#choose_fresh > div.card-content > div > div > input`).value;
        });
        $(".btn-choose_sauce").click(function () {
            $('ul.tabs').tabs('select_tab', 'choose_place');
            document.querySelector('#sauce-in').value = document.querySelector(`#choose_sauce > div.card-content > div > div > input`).value;
        });
        $(".btn-choose_place").click(function () {
            $('ul.tabs').tabs('select_tab', 'choose_payment_method');
            document.querySelector('#place-in').value = document.querySelector(`#choose_place > div.card-content > div > div > input`).value;
        });
        $(".btn-choose_payment_method").click(function () {
            $('ul.tabs').tabs('select_tab', 'paymentConfirm');
            document.querySelector('#payment-in').value = document.querySelector(`#choose_payment_method > div.card-content > div > div > input`).value;
        });
    });

</script>
<script>
    // Initialize and add the map
    function initMap() {
// The location of Uluru
        const uluru = {lat: 49.189296, lng: 16.600953};
// The map, centered at Uluru
        const map = new google.maps.Map(
                document.getElementById('map'), {zoom: 16, center: uluru});
// The marker, positioned at Uluru
        const marker = new google.maps.Marker({position: uluru, map: map});
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo7uom7YHA8Bax88nKKE5zW2k7GfnAEnQ&callback=initMap">
</script>
