<div class="container">
    <nav>
        <div class="nav-wrapper blue-grey darken-4">
            <a href="#" class="brand-logo logo"><img class='logo' src="/images/logo/logo.svg"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <div class="input-field col s12 m6">
                        <select class="icons">
                            <option value="" disabled selected>Language option</option>
                            <option value="EST" data-icon="images/flags/estonia.png" class="left">Estonian</option>
                            <option value="ENG" data-icon="images/flags/united-kingdom.png" class="left">English
                            </option>
                        </select>
                        <!-- <label>Choose a language</label>-->
                    </div>
                </li>
                <li><a target="_blank" onclick="toggleLogin()">Login</a></li>
                <li><a target="_blank" onclick="toggleSignUp()">Sign up</a></li>
                <li><a target="_blank" onclick="moreThings()">More</a></li>
            </ul>
        </div>
    </nav>
    <!-- log in-->
    <form class="login-form blue-grey darken-2 hiddendiv">
        <i onclick="toggleLogin()" class="material-icons red btn-close">close</i>
        <input placeholder="Username" type="text" required="">
        <input placeholder="Password" type="password" required="">
        <button class="btn waves-effect waves-light btn-login">Log in</button>
    </form>
    <!-- signup-->
    <form class="signup-form blue-grey darken-2 hiddendiv">
        <i onclick="toggleSignUp()" class="material-icons red btn-close">close</i>
        <input placeholder="Email" type="email" required="">
        <input placeholder="Username" type="text" required="">
        <input placeholder="Password" type="password" required="">
        <input placeholder="Confirm password" type="password" required="">
        <button class="btn waves-effect waves-light btn-signup">Sign up</button>
    </form>
    <div class="slider">
        <ul class="slides">
            {{#each breadPictures}}
                <li>
                    <img src="/images/food/{{this.picture}}" alt="">
                    <div class="caption {{this.position}}">
                        <h3>{{this.tagline}}</h3>
                        <h5 class="light grey-text text-lighten-3">{{this.slogan}}</h5>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <button class="btn waves-effect waves-light btn-order" onclick="toggleOrderingMenu()">Telli siit!</button>
    <div class="ordering ">
        <div class="row">
            <div class="col s12">
                <ul class="tabs order-navigation">
                    <li class="tab col s3"><a class="active" href="#choose_base"><span>Vali põhi</span><i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_meat_tab col s3 disabled"><a href="#choose_meat">Vali liha<i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_cheese_tab col s3 disabled"><a href="#choose_cheese">Vali juust<i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_fresh_tab col s3 disabled"><a href="#choose_fresh">Vali värske täidis<i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_sauce_tab col s3 disabled"><a href="#choose_sauce">Vali kaste<i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_place_tab col s3 disabled"><a href="#choose_place">Vali koht, kus süüa<i class="material-icons">navigate_next</i></a></li>
                    <li class="tab choose_payment_method_tab col s3 disabled"><a href="#choose_payment_method">Vali makseviis</a></li>
                </ul>
            </div>
        </div>
        {{#each orderingInformation}}
            <div id="{{this.id}}" class="card small">
                <div class="card-image">
                    <img src="/images/ordering-images/{{this.image}}">
                    <span class="card-title">{{this.step}}</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, voluptatum soluta aspernatur quod
                        quaerat saepe accusamus ducimus dolore commodi, rem.</p>
                </div>
                <div class="card-action">
                    <a href="#{{this.nextId}}">  <button class="btn btn-{{this.id}}" onclick="nextSectionOfOrder('{{this.nextId}}')"><span>Next</span><i
                            class="material-icons">navigate_next</i></button></a>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row footer-margin-adjustment">
            <div class="col l6 s12">
                <h5 class="text-contacts">Kontakt</h5>
                <ul class="text-contacts">
                    {{#each contactInformation}}
                        <li>
                            <i class="material-icons">{{this.icon}}</i><span>{{this.content}}</span>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col l6 offset-4 s12">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="text-copyright">© 2018 Oskar Pihlak</p>
            <div class="social-media-icons ">
                {{#each socialMediaIcons}}
                    <i class="{{this}} icon-size"></i>
                {{/each}}
            </div>
        </div>
    </div>
</footer>
</div>

<script>
    // Init Slider
    $('.slider').slider();

    //init select
    $(document).ready(function () {
        $('select').material_select();
    });
</script>
<script>
    // Initialize and add the map
    function initMap() {
// The location of Uluru
        var uluru = {lat: 49.189296, lng: 16.600953};
// The map, centered at Uluru
        var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 16, center: uluru});
// The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo7uom7YHA8Bax88nKKE5zW2k7GfnAEnQ&callback=initMap">
</script>
